body {
  background: linear-gradient(to right, #e52d27, #b31217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;

}

.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed black;
}

.icons{
  font-size: 85px;
  border: 0.5px dashed black;
  border-radius: 50%;
  padding: 10px;
}

.head{
  color: White;
  text-align: center;
  font-size: 80px;

}